/* обнуление */
*,
*::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
}

/* ----------------------------------------- */

.form {
  max-width: 550px;
  margin: 0 auto;
  color: #fff;
  padding: 30px 0;
}
.form * {
  outline: none;
}
.form__body {
  position: relative;
}

.form__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.9) url("../img/ZZ5H.gif") center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}
.form__body._sending::after {
  opacity: 1;
  visibility: visible;
}
.form__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}
.form__item {
  margin-bottom: 20px;
}
.form__label {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}
.form__input {
  height: 50px;
  padding: 0 20px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  transition: box-shadow 0.5s ease 0s;
}
.form__input:focus {
  box-shadow: 0 0 15px #7a956b;
}
.form__input._error {
  box-shadow: 0 0 15px red;
}

textarea.form__input {
  min-height: 120px;
  resize: vertical;
  padding: 20px;
}

.options {
  padding-top: 10px;
}
.options__item {
  margin-bottom: 10px;
}
.options__input {
  display: none;
}
.options__input:checked + .options__lable::after {
  transform: scale(1);
}
.options__lable {
  display: inline-flex;
  font-size: 16px;
  line-height: 140%;
  align-items: center;
  position: relative;
}
.options__lable::before {
  content: "";
  flex: 0 0 24px;
  background: #fff;
  border-radius: 50%;
  height: 24px;
  align-self: flex-start;
  margin-right: 10px;
}
.options__lable::after {
  transition: transform 0.5s ease 0s;
  content: "";
  position: absolute;
  background: rgb(55, 122, 50);
  border-radius: 50%;
  height: 16px;
  width: 16px;
  top: 4px;
  left: 4px;
  transform: scale(0);
}

.file {
}
.file__item {
  position: relative;
}
.file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}
.file__button {
  display: inline-flex;
  min-height: 40px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  background: #77608d;
  padding: 0 20px;
}
.file__prewiew {
  display: inline-block;
  max-width: 100px;
  padding-top: 10px;
}
.file__prewiew img {
  max-width: 100%;
}
.checkbox {
}
.checkbox._error .checkbox__label::before {
  box-shadow: 0 0 15px red;
}
.checkbox__input {
  display: none;
}
.checkbox__input:checked + .checkbox__label::after {
  transform: scale(1);
}
.checkbox__label {
  font-size: 16px;
  line-height: 140%;
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.checkbox__label::before {
  content: "";
  flex: 0 0 24px;
  height: 24px;
  background: #fff;
  border-radius: 4px;
  align-self: flex-start;
  margin-right: 10px;
}
.checkbox__label::after {
  transition: transform 0.5s ease 0s;
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  background: rgb(55, 122, 50);
  border-radius: 4px;
  transform: scale(0);
}
.checkbox__label a {
  color: #7a956b;
}
.form__button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  background: #7a956b;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 5px 0 #20261d;
  position: relative;
  transition: background-color 0.5s ease 0s;
  top: 0;
}

.form__button:hover {
  background-color: #5e7254;
}
.form__button:active {
  top: 3px;
  box-shadow: 0 2px 0 #20261d;
}
